<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bws.officeapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_512"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon_512"
        android:supportsRtl="true"
        android:theme="@style/Theme.OfficeApp"
        tools:replace="android:theme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".leavestatus.LeaveStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leave.applyleave.LeaveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leave.leavesummery.LeaveSummeryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashBoardLeaveAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".timesheet.dailitimesheet.DailyTimeSheetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".timesheet.TimeSheetDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".timesheet.projectlist.ProjectListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".timesheet.searchproject.SearchProjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".timesheet.addproject.AddProjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".timesheet.CalendarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".expense.expensedetails.ExpenseDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".expense.AddExpenseTowActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".expense.AddNewExpenseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".expense.CategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".expense.ExpenseOverViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".expense.ViewExpansegraphActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".expense.pendingapproval.PendingApprovalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".expense.claim.AddNewClaimActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".expense.trip.AddNewTripActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".expense.receipts.AddMyReceiptsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".expense.selectitem.SelectItemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".timesheet.MekkoChartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".timesheet.ProfileTimeSheetActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".timesheet.ChartActivity" />
        <activity
            android:name="com.bws.timesheet.projectstatus.ProjectStatusActvity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashboardOfficeAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".policy.PolicyDocumentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registration.RagistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".leave.leaveapprove.LeaveApproveActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".Calendar.CalendarActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".login.LoginTestActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>